@tailwind base;
@tailwind components;
@tailwind utilities;

/**
https://theodorusclarence.com/library/tailwindcss-basestyle
*/
@layer base {
    h1 {
        @apply text-2xl font-bold md:text-4xl;
    }

    h2 {
        @apply text-xl font-bold md:text-3xl;
    }

    h3 {
        @apply text-lg font-bold md:text-2xl;
    }

    h4 {
        @apply text-base font-bold md:text-lg;
    }
    body {
        @apply text-sm md:text-base;
    }
}

@layer components {
    .p-tabview-nav {
        @apply justify-center;
    }
}
/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
